#troubleshooting {
    display: none;
}

#troubleshooting h2 {
    margin: 10px 0 0 0;
}

#troubleshooting ul {
    margin: 5px 0 0 0;
    padding-left: 1em;    
}

.troubleshooting-item {
    margin-left: 1em;
    list-style-image: url('https://localhost:3000/img/dynamic_bullet_icons/dynamic_bullet_icon_close.png');
    cursor: pointer;
}

.troubleshooting-item-open {
    list-style-image: url('https://localhost:3000/img/dynamic_bullet_icons/dynamic_bullet_icon_open.png');
}

.troubleshooting-item-title {
    /*color: #b4009e;*/
    font-weight: bold;
    cursor: default;
}

.troubleshooting-item-instructions {
    text-align: justify;
    cursor: default;
}

.troubleshooting-item-hidden {
    display: none;
}