.ms-Dropdown .ms-Label {    
    font-size: 14px;
    font-weight: 600;
    margin: 0;    
}

.ms-ListItem .bindingActions {
    display: none;
}

.ms-ListItem:hover .bindingActions {
    display: block;
}

.textInputErrorMessage {
    display: none;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    font-weight: 400;
    color: #a80000;
    margin: 0;
    padding-top: 5px;
}

.panel-title {
    margin: 0 0 5px 0;
    padding: 0;
}

.panel-title .panel-icon {
    margin-right: 4px;
    position: relative;
    top: 4px;    
}

.pivot-button {
    width: 50%;
    box-sizing: border-box;
    outline: none;
}

.ms-CommandButton {
    margin-left: 0 !important;
}

button.ms-CommandButton-button {
    padding: 10px !important;
}

.ms-CommandButton-icon {
    /*min-width: 14px;*/
}

.ms-CommandButton-button:disabled {
    cursor: default;
    color: #666666;    
}

.ms-CommandButton-button:disabled .ms-Icon {
    color: #666666;    
}

.fieldWithHelp .ms-Label {
    display: inline-block;
}

.fieldWithHelp .helpIcon {    
    float: right;
    position: relative;
    top: 8px;
    opacity: 0.6;
    cursor: pointer;
}

.fieldWithHelp .helpIcon:hover {
    opacity: 0.8;
}

.fieldWithHelp .ms-MessageBar-icon {
    
}

.ms-MessageBar.helpMessageBar {
    background-color: #fff4ce;
}